Repository daeuniverse/daed: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, eslint --fix, prettier --write

.lintstagedrc.yml:

'package.json': 'sort-package-json'
'*.{js,jsx,ts,tsx}': 'eslint --fix'
'*.{js,jsx,ts,tsx,md,html,css,less,scss,json,yml,yaml,graphql}': 'prettier --write'

feat(group): add fixed policy selection
  pnpm-lock.yaml
  src/components/GroupFormModal.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
Due: eslint --fix, prettier --write

daed should be started after dae
  install/daed.service
Due: none

Update daed.service
  install/daed.service
Due: none

chore(daed.service): conflict with dae.service (#471)
  install/daed.service
Due: none

feat(group): add fixed policy selection (#467)
  pnpm-lock.yaml
  src/components/GroupFormModal.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
Due: eslint --fix, prettier --write

build desktop entry and icon into installer
  .github/workflows/release.yml
Due: prettier --write

trigger ci
  install/1
Due: none

revert trigger ci
  install/1
Due: none

ci: build desktop entry and icon into installer (#492)
  .github/workflows/release.yml
Due: prettier --write

fix(hy2): insecure parameter not work
  src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
Due: eslint --fix, prettier --write

fix(hy2): insecure parameter not work (#493)
  src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
Due: eslint --fix, prettier --write

ci(release): draft release v0.7.4
  CHANGELOGS.md
Due: prettier --write

chore: dns.google.com should be dns.google according Google recommend
  src/constants/default.ts
Due: eslint --fix, prettier --write

chore: dns.google.com should be dns.google according Google recommend (#496)
  src/constants/default.ts
Due: eslint --fix, prettier --write

ci: change docker image build trigger
  .github/workflows/publish-docker-image.yml
Due: prettier --write

ci: change docker image build trigger (#501)
  .github/workflows/publish-docker-image.yml
Due: prettier --write

feat(config): add form field
  package.json
  pnpm-lock.yaml
  src/apis/query.ts
  src/components/ConfigFormModal.tsx
  src/constants/default.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/schemas/gql/gql.ts
  src/schemas/gql/graphql.ts
Due: sort-package-json, eslint --fix, prettier --write

chore: optimize field descriptions
  src/components/ConfigFormModal.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
Due: eslint --fix, prettier --write

feat(config): add form field (#498)
  package.json
  pnpm-lock.yaml
  src/apis/query.ts
  src/components/ConfigFormModal.tsx
  src/constants/default.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/schemas/gql/gql.ts
  src/schemas/gql/graphql.ts
Due: sort-package-json, eslint --fix, prettier --write

fix(import): cannot import node
  src/components/ImportResourceFormModal.tsx
Due: eslint --fix, prettier --write

fix(import): cannot import node (#507)
  src/components/ImportResourceFormModal.tsx
Due: eslint --fix, prettier --write

fix(i18n): identifier mismatch & awkward English translations
  src/i18n/locales/en.json
Due: prettier --write

fix(i18n): identifier mismatch & awkward English translations (#509)
  src/i18n/locales/en.json
Due: prettier --write

docs: add Fedora Copr to Quick Start Guide
  docs/getting-started.md
Due: prettier --write

docs: add Fedora Copr to Quick Start Guide (#516)
  docs/getting-started.md
Due: prettier --write
