Repository daeuniverse/daed: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, eslint --fix, prettier --write

ci: update moudles to the latest tag
  .github/workflows/build.yml
  .github/workflows/generate-changelogs.yml
  .github/workflows/pick-build.yml
  .github/workflows/pr-build.yml
  .github/workflows/prerelease.yml
  .github/workflows/publish-docker-image.yml
  .github/workflows/publish-gh-pages.yml
  .github/workflows/release.yml
  .vscode/settings.json
Due: prettier --write

ci(release): draft release v0.4.1
  CHANGELOGS.md
Due: prettier --write

ci: fix showing linux packages
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: prettier --write

ci(release): draft release v0.4.1 (#431)
  CHANGELOGS.md
Due: prettier --write

ci: use gh to upload release
  .github/workflows/release.yml
Due: prettier --write

ci: fix 'use gh to upload release'
  .github/workflows/release.yml
Due: prettier --write

ci: update ci modules to the latest version (#432)
  .github/workflows/build.yml
  .github/workflows/generate-changelogs.yml
  .github/workflows/pick-build.yml
  .github/workflows/pr-build.yml
  .github/workflows/prerelease.yml
  .github/workflows/publish-docker-image.yml
  .github/workflows/publish-gh-pages.yml
  .github/workflows/release.yml
  .vscode/settings.json
Due: prettier --write

chore: give up compatibility with zsh
  install/shell-completion/daed.bash
Due: none

chore: add bash completion
  install/shell-completion/daed
Due: none

ci(release): draft release v0.6.0
  CHANGELOGS.md
Due: prettier --write

ci(release): draft release v0.6.0 (#439)
  CHANGELOGS.md
Due: prettier --write

feat: add configure hysteria2 modal
  src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
  src/components/ConfigureNodeFormModal/index.tsx
  src/constants/default.ts
  src/constants/schema.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/utils/node.ts
Due: eslint --fix, prettier --write

Update pick-build.yml
  .github/workflows/pick-build.yml
Due: prettier --write

ci/feat: support customized git remote for Pick Build (#441)
  .github/workflows/pick-build.yml
Due: prettier --write

chore: remove obfuscation option
  src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
Due: eslint --fix, prettier --write

fix: e encode the auth field to handle special characters like '@'
  src/utils/node.ts
Due: eslint --fix, prettier --write

feat: add configure hysteria2 modal (#440)
  src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
  src/components/ConfigureNodeFormModal/index.tsx
  src/constants/default.ts
  src/constants/schema.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/utils/node.ts
Due: eslint --fix, prettier --write

ci(release): draft release v0.7.0rc1
  CHANGELOGS.md
Due: prettier --write

Update CHANGELOGS.md
  CHANGELOGS.md
Due: prettier --write

ci(release): draft release v0.7.0rc1 (#444)
  CHANGELOGS.md
Due: prettier --write

ci(docker): update go version to 1.22
  publish.Dockerfile
Due: none

ci(docker): update go version to 1.22 (#445)
  publish.Dockerfile
Due: none

ci(release): draft release v0.7.0rc1.1
  CHANGELOGS.md
Due: prettier --write

ci(release): draft release v0.7.0rc1.1 (#446)
  CHANGELOGS.md
Due: prettier --write

Path conditions:
  sort-package-json: any of: package.json
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,less,scss,json,yml,yaml,graphql}
