Repository daeuniverse/daed: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, eslint --fix, prettier --write

Update docs/getting-started.md
  docs/getting-started.md
Due: prettier --write

docs: Added Debian, RedHat, openSUSE, installation instructions (#246)
  docs/getting-started.md
Due: prettier --write

docs(getting-started): make subtle changes
  docs/getting-started.md
Due: prettier --write

docs(getting-started): make subtle changes (#247)
  docs/getting-started.md
Due: prettier --write

chore: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

feat: add resolve for juicity and tuic
  src/models/resolvers/juicity.ts
  src/models/resolvers/tuic.ts
Due: eslint --fix, prettier --write

test: remove resolver test for now
  src/models/resolvers/index.test.ts
Due: eslint --fix, prettier --write

ci(pick): fix build failure due to go mod not being updated
  .github/workflows/pick-build.yml
Due: prettier --write

ci(pick): fix build failure due to go mod not being updated (#248)
  .github/workflows/pick-build.yml
Due: prettier --write

feat(config): add form field `soMarkFromDae`
  package.json
  pnpm-lock.yaml
  src/components/ConfigFormModal.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/schemas/gql/graphql.ts
Due: sort-package-json, eslint --fix, prettier --write

chore: add github dependabot.yml
  .github/dependabot.yml
Due: prettier --write

fix: lacking default soMarkFromDae
  src/components/ConfigFormModal.tsx
  src/constants/default.ts
Due: eslint --fix, prettier --write

fix: declare query result soMarkFromDae
  package.json
  pnpm-lock.yaml
  src/apis/query.ts
  src/schemas/gql/gql.ts
  src/schemas/gql/graphql.ts
Due: sort-package-json, eslint --fix, prettier --write

feat(routing): add dnsmasq to must_direct default routing
  src/constants/default.ts
Due: eslint --fix, prettier --write

feat(routing): add dnsmasq to must_direct default routing (#258)
  src/constants/default.ts
Due: eslint --fix, prettier --write

feat(config): add form field `soMarkFromDae` (#251)
  package.json
  pnpm-lock.yaml
  src/apis/query.ts
  src/components/ConfigFormModal.tsx
  src/constants/default.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/schemas/gql/gql.ts
  src/schemas/gql/graphql.ts
Due: sort-package-json, eslint --fix, prettier --write

ci(generate-changelogs): update default assignees list
  .github/workflows/generate-changelogs.yml
Due: prettier --write

chore/fix:upgrade llvm and clang version (https://github.com/daeuniverse/daed/issues/250)
  Dockerfile
Due: none

build/fix(Dockerfile):fix "geoip.dat: file does not exist" (https://github.com/daeuniverse/daed/issues/262)
  .dockerignore
  Dockerfile
  docker-compose.yml
Due: prettier --write

ci: generate changelogs for release-v0.4.0rc1
  CHANGELOGS.md
Due: prettier --write

docs(getting-started):Add Docker(https://github.com/daeuniverse/daed/issues/250#issuecomment-1703896541)
  docs/getting-started.md
Due: prettier --write

style: fix formatting
  CHANGELOGS.md
Due: prettier --write

chore: fix conflicts
  CHANGELOGS.md
Due: prettier --write

docs: Update docs/getting-started.md
  docs/getting-started.md
Due: prettier --write

chore(Dockerfile): base image upgrade
  Dockerfile
Due: none

ci(Dockerfile): ENV CLANG=clang-15
  Dockerfile
Due: none

ci(Dockerfile): clean commented blocks
  Dockerfile
Due: none

ci(Dockerfile): Dockerfile working out of box (#265)
  .dockerignore
  Dockerfile
  docker-compose.yml
  docs/getting-started.md
Due: prettier --write

ci(generate-changelogs): update default assignees list (#261)
  .github/workflows/generate-changelogs.yml
Due: prettier --write

ci: docker image push with tag
  .github/workflows/publish-docker-image.yml
Due: prettier --write

add dockerhub
  .github/workflows/publish-docker-image.yml
Due: prettier --write

fix workflow error
  .github/workflows/publish-docker-image.yml
Due: prettier --write

Path conditions:
  sort-package-json: any of: package.json
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,less,scss,json,yml,yaml,graphql}
