Repository daeuniverse/daed: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, eslint --fix, prettier --write

.lintstagedrc.yml:

'package.json': 'sort-package-json'
'*.{js,jsx,ts,tsx}': 'eslint --fix'
'*.{js,jsx,ts,tsx,md,html,css,less,scss,json,yml,yaml,graphql}': 'prettier --write'

feat: change editor font to `Source Code Pro`
  src/constants/editor.ts
Due: eslint --fix, prettier --write

chore: reduce bundle size by using webp and remove unused images
  README.md
  docs/preview.png
  docs/preview.webp
  index.html
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/logo.png
  public/logo.svg
  public/logo.webp
  public/site.webmanifest
  src/assets/logo.png
  src/assets/logo.svg
  src/components/Header.tsx
Due: eslint --fix, prettier --write

chore: drop .npmrc file
  .npmrc
Due: none

feat: change editor font to `Source Code Pro` (#218)
  .npmrc
  README.md
  docs/preview.png
  docs/preview.webp
  index.html
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/logo.png
  public/logo.svg
  public/logo.webp
  public/site.webmanifest
  src/assets/logo.png
  src/assets/logo.svg
  src/components/Header.tsx
  src/constants/editor.ts
Due: eslint --fix, prettier --write

chore: add updateNode mutation
  package.json
  pnpm-lock.yaml
  src/apis/mutation.ts
  src/schemas/gql/gql.ts
  src/schemas/gql/graphql.ts
Due: sort-package-json, eslint --fix, prettier --write

chore: reduce bundle size further by loading monaco from CDN and drop Experiment page
  src/Router.tsx
  src/main.tsx
  src/pages/index.ts
Due: eslint --fix, prettier --write

chore: resolver pattern
  src/components/ConfigureNodeFormModal/HTTPForm.tsx
  src/components/ConfigureNodeFormModal/JuicityForm.tsx
  src/components/ConfigureNodeFormModal/SSForm.tsx
  src/components/ConfigureNodeFormModal/SSRForm.tsx
  src/components/ConfigureNodeFormModal/Socks5Form.tsx
  src/components/ConfigureNodeFormModal/TrojanForm.tsx
  src/components/ConfigureNodeFormModal/TuicForm.tsx
  src/components/ConfigureNodeFormModal/V2rayForm.tsx
  src/constants/default.ts
  src/constants/index.ts
  src/constants/schema.ts
  src/models/index.ts
  src/models/node.ts
  src/pages/Orchestrate/Node.tsx
Due: eslint --fix, prettier --write

WIP
  src/components/ConfigureNodeFormModal/HTTPForm.tsx
  src/components/ConfigureNodeFormModal/JuicityForm.tsx
  src/components/ConfigureNodeFormModal/SSForm.tsx
  src/components/ConfigureNodeFormModal/SSRForm.tsx
  src/components/ConfigureNodeFormModal/Socks5Form.tsx
  src/components/ConfigureNodeFormModal/TrojanForm.tsx
  src/components/ConfigureNodeFormModal/TuicForm.tsx
  src/components/ConfigureNodeFormModal/V2rayForm.tsx
  src/models/node.ts
Due: eslint --fix, prettier --write

feat: add juicity pinned_certchain_sha256 config
  src/components/ConfigureNodeFormModal/JuicityForm.tsx
  src/constants/default.ts
  src/constants/schema.ts
Due: eslint --fix, prettier --write

feat: add description text for pinned_certchain_sha256
  src/components/ConfigureNodeFormModal/JuicityForm.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
Due: eslint --fix, prettier --write

fix(juicity): improve translation for pinned_certchain_sha256
  src/i18n/locales/en.json
Due: prettier --write

fix(juicity): improve translation for pinned_certchain_sha256
  src/i18n/locales/zh-Hans.json
Due: prettier --write

feat: add juicity pinned_certchain_sha256 config (#219)
  src/components/ConfigureNodeFormModal/JuicityForm.tsx
  src/constants/default.ts
  src/constants/schema.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
Due: eslint --fix, prettier --write

chore/refactor: rework issue_templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/proposal.yml
  .github/ISSUE_TEMPLATE/support-request.md
  .github/ISSUE_TEMPLATE/support-request.yml
Due: prettier --write

feat: add desktop file and icons
  install/daed.desktop
  install/icons/1024x1024.png
  install/icons/128x128.png
  install/icons/16x16.png
  install/icons/24x24.png
  install/icons/256x256.png
  install/icons/32x32.png
  install/icons/48x48.png
  install/icons/512x512.png
  install/icons/64x64.png
Due: none

fix: fix typos
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/support-request.yml
Due: prettier --write

feat: add desktop file and icons (#221)
  install/daed.desktop
  install/icons/1024x1024.png
  install/icons/128x128.png
  install/icons/16x16.png
  install/icons/24x24.png
  install/icons/256x256.png
  install/icons/32x32.png
  install/icons/48x48.png
  install/icons/512x512.png
  install/icons/64x64.png
Due: none

chore: update pr_template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore(pr_template): update section headers
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore(pr_template): update section headers (#223)
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore: support build_mode=pie
  .github/workflows/build.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: prettier --write

chore: support build_mode=pie (#227)
  .github/workflows/build.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: prettier --write

chore/refactor: rework issue_templates (#220)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/proposal.yml
  .github/ISSUE_TEMPLATE/support-request.md
  .github/ISSUE_TEMPLATE/support-request.yml
Due: prettier --write

feat: add more resolve function to resolvers
  .eslintrc.yml
  package.json
  pnpm-lock.yaml
  src/models/node.ts
Due: sort-package-json, eslint --fix, prettier --write

chore: move resolvers into their own module
  src/constants/index.ts
  src/constants/misc.ts
  src/constants/schema.ts
  src/models/base.ts
  src/models/index.ts
  src/models/node.ts
  src/models/resolvers/http.ts
  src/models/resolvers/index.ts
  src/models/resolvers/juicity.ts
  src/models/resolvers/shadowsocks.ts
  src/models/resolvers/shadowsocksr.ts
  src/models/resolvers/socks5.ts
  src/models/resolvers/trojan.ts
  src/models/resolvers/tuic.ts
  src/models/resolvers/vless.ts
  src/models/resolvers/vmess.ts
Due: eslint --fix, prettier --write

feat: add resolve for http and socks5
  src/models/resolvers/http.ts
  src/models/resolvers/socks5.ts
Due: eslint --fix, prettier --write

fix(runtime-error): missing httpSchema from models
  src/components/ConfigureNodeFormModal/HTTPForm.tsx
Due: eslint --fix, prettier --write

test: add some test cases
  package.json
  pnpm-lock.yaml
  src/models/resolvers/index.test.ts
  src/models/resolvers/trojan.ts
  vite.config.ts
Due: sort-package-json, eslint --fix, prettier --write
