Repository daeuniverse/daed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: optimize user experience
  apps/web/src/components/ConfigureNodeFormModal/AnyTLSForm.tsx
  apps/web/src/components/ConfigureNodeFormModal/protocols/complex.ts
  apps/web/src/components/ConfigureNodeFormModal/protocols/index.ts
  apps/web/src/components/ConfigureNodeFormModal/protocols/registry.ts
  apps/web/src/components/DNSFormModal/DNSForm.tsx
  apps/web/src/components/DNSFormModal/RoutingList.tsx
  apps/web/src/components/DNSFormModal/UpstreamList.tsx
  apps/web/src/components/DNSFormModal/index.tsx
  apps/web/src/components/DNSFormModal/parser.ts
  apps/web/src/components/DNSFormModal/types.ts
  apps/web/src/components/DaeEditor.tsx
  apps/web/src/components/EditNodeFormModal.tsx
  apps/web/src/components/RoutingFormModal.tsx
  apps/web/src/constants/default.ts
  apps/web/src/constants/schema.ts
  apps/web/src/i18n/locales/en.json
  apps/web/src/i18n/locales/zh-Hans.json
  apps/web/src/monaco.ts
  apps/web/src/pages/Orchestrate/DNS.tsx
  apps/web/src/pages/Orchestrate/Routing.tsx
  apps/web/vite.config.ts
  packages/dae-node-parser/src/generator.ts
  packages/dae-node-parser/src/index.ts
  packages/dae-node-parser/src/parser.ts
  packages/dae-node-parser/src/types.ts
  packages/dae-node-parser/tests/parser.test.ts
Due: eslint --fix, prettier --write

feat(ui): enhance layout and visual design system
  apps/web/src/components/Header.tsx
  apps/web/src/components/SortableGroupContent.tsx
  apps/web/src/components/SortableResourceBadge.tsx
  apps/web/src/index.css
  apps/web/src/pages/MainLayout.tsx
  apps/web/src/pages/Orchestrate/index.tsx
Due: eslint --fix, prettier --write

fix(dnd): migrate to @hello-pangea/dnd and fix drag issues in modals
  apps/web/package.json
  apps/web/src/components/DraggableResourceBadge.tsx
  apps/web/src/components/DraggableResourceCard.tsx
  apps/web/src/components/DroppableGroupCard.tsx
  apps/web/src/components/SortableGroupContent.tsx
  apps/web/src/components/SortableNodeCard.tsx
  apps/web/src/components/SortableResourceBadge.tsx
  apps/web/src/components/SortableSubscriptionCard.tsx
  apps/web/src/components/ui/input-list.tsx
  apps/web/src/pages/MainLayout.tsx
  apps/web/src/pages/Orchestrate/Node.tsx
  apps/web/src/pages/Orchestrate/Subscription.tsx
  apps/web/src/pages/Orchestrate/index.tsx
  apps/web/src/store/index.ts
  apps/web/src/types/index.d.ts
  apps/web/src/utils/dnd-kit.ts
  apps/web/src/utils/dnd.ts
  apps/web/src/utils/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

fix(ci): increase Node.js heap memory to prevent OOM during build
  .github/workflows/release-please.yml
Due: prettier --write

chore: update screenshots for v1.23.0 [skip ci]
  docs/screenshots/mobile/orchestrate.png
  docs/screenshots/mobile/setup.png
  docs/screenshots/pc/orchestrate.png
  docs/screenshots/pc/setup.png
Due: none

fix(ci): add packages write permission for ghcr.io push
  .github/workflows/release-please.yml
Due: prettier --write

ci: use go 1.24 branch because go 1.25's issue#77217
  .github/workflows/release-please.yml
Due: prettier --write

ci: use go 1.24 branch because go 1.25's issue#77217 (#700)
  .github/workflows/release-please.yml
Due: prettier --write

fix(dnd): allow dragging subscription nodes into groups
  apps/web/src/pages/Orchestrate/Subscription.tsx
  apps/web/src/pages/Orchestrate/index.tsx
Due: eslint --fix, prettier --write

fix(pr-677): address review feedback
  apps/web/src/components/ConfigureNodeFormModal/AnyTLSForm.tsx
  apps/web/src/components/ConfigureNodeFormModal/protocols/complex.ts
  apps/web/src/components/EditNodeFormModal.tsx
  apps/web/vite.config.ts
Due: eslint --fix, prettier --write

fix(deps): resolve 8 security vulnerabilities and group dependabot npm updates
  .github/dependabot.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: update screenshots for v1.24.0 [skip ci]
  docs/screenshots/pc/orchestrate.png
Due: none

fix(ci): add concurrency control to release-please workflow
  .github/workflows/release-please.yml
Due: prettier --write

feat: 增加批量添加节点到群组)
  apps/web/src/components/BatchAddNodesModal.tsx
  apps/web/src/components/index.ts
  apps/web/src/i18n/locales/en.json
  apps/web/src/i18n/locales/zh-Hans.json
  apps/web/src/pages/Orchestrate/Group.tsx
Due: eslint --fix, prettier --write

feat: add settings
  .kiro/steering/personal.md
  .kiro/steering/project.md
Due: prettier --write

add SIP022 AEAD-2022 Ciphers
  apps/web/src/components/ConfigureNodeFormModal/SSForm.tsx
  apps/web/src/constants/schema.ts
  packages/dae-node-parser/src/types.ts
Due: eslint --fix, prettier --write

Update wing submodule to b22dd8a8c3a449df69cc12223cb8805a5d4c4b0c
  .gitmodules
Due: none

fix(ui/multi-select): fix scrolling issue of multi-select component
  apps/web/src/components/ui/multi-select.tsx
Due: eslint --fix, prettier --write

fix(ui): fix scrolling issue of multi-select component (#726)
  apps/web/src/components/ui/multi-select.tsx
Due: eslint --fix, prettier --write

fix: resolve CI failures from dependency upgrade breakages
  apps/web/src/components/Header.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

fix(ci): use tag ref for update-screenshots checkout
  .github/workflows/release-please.yml
Due: prettier --write

fix(ci): add workflow_dispatch trigger for manual release builds
  .github/workflows/release-please.yml
Due: prettier --write

deploy: d02bad4783f395d3e22dd71f20a1e61c8cc8747c
  assets/cssMode-BAgREqok.js
  assets/cssMode-D13PfexE.js
  assets/editor.api-CXN8G0XC.js
  assets/graphqlMode-D7DYpznB.js
  assets/graphqlMode-jKh8B25u.js
  assets/htmlMode-CeARLe6l.js
  assets/htmlMode-DGbMOkge.js
  assets/index-FipVV30S.js
  assets/jsonMode-C_-NcPFm.js
  assets/jsonMode-Cm3w6ca7.js
  assets/lite-CKrCcOSn.js
  assets/lite-DtxcSKgE.js
  assets/monaco-editor-DNzbnswI.js
  assets/monaco-editor-Hj6toMAB.js
  assets/monaco-editor-Rh9uxpCr.js
  assets/monaco.contribution-9qQ4YVpn.js
  assets/monaco.contribution-BNPO4ucI.js
  assets/monaco.contribution-Bz3yoKNp.js
  assets/monaco.contribution-CElVkf-q.js
  assets/tsMode-DZC5H0Y5.js
  index.html
Due: eslint --fix, prettier --write

fix(ci): add base branch for create-pull-request in detached HEAD
  .github/workflows/release-please.yml
Due: prettier --write

fix(deps): override vulnerable transitive dependencies
  pnpm-lock.yaml
Due: prettier --write

fix(deps): add vulnerability overrides to pnpm-workspace.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

fix(security): mitigate polynomial ReDoS in formatter and parser
  packages/dae-editor/src/formatter.ts
  packages/dae-lsp/src/core/formatter.ts
  packages/dae-lsp/src/core/parser.ts
Due: eslint --fix, prettier --write

refactor: extract shared formatter into @daeuniverse/dae-lang-core package
  packages/dae-editor/package.json
  packages/dae-editor/src/formatter.ts
  packages/dae-lang-core/package.json
  packages/dae-lang-core/src/formatter.ts
  packages/dae-lang-core/src/index.ts
  packages/dae-lang-core/tests/formatter.test.ts
  packages/dae-lang-core/tsconfig.json
  packages/dae-lang-core/tsdown.config.ts
  packages/dae-lsp/package.json
  packages/dae-lsp/src/core/formatter.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: correct indexOf argument positioning in parser findFuncCalls
  packages/dae-lsp/src/core/parser.ts
Due: eslint --fix, prettier --write

test: add unit tests for LSP parser
  packages/dae-lsp/tests/parser.test.ts
Due: eslint --fix, prettier --write

chore: register dae-lang-core in release-please config
  .release-please-manifest.json
  release-please-config.json
Due: eslint --fix, prettier --write

fix(ci): correct dae-lsp manifest version and add dae-lang-core publish workflow
  .github/workflows/publish-packages.yml
  .release-please-manifest.json
Due: eslint --fix, prettier --write

feat(web): add group resource pickers and improve drag UX
  apps/web/src/components/DraggableResourceBadge.tsx
  apps/web/src/components/DroppableGroupCard.tsx
  apps/web/src/components/GroupResourcePickerModal.tsx
  apps/web/src/components/SortableGroupContent.tsx
  apps/web/src/components/SortableResourceBadge.tsx
  apps/web/src/i18n/locales/en.json
  apps/web/src/i18n/locales/zh-Hans.json
  apps/web/src/pages/Orchestrate/Group.tsx
  apps/web/src/pages/Orchestrate/Subscription.tsx
  apps/web/src/pages/Orchestrate/index.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,json}
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,less,scss,json,yml,yaml,graphql}
