Repository daeuniverse/daed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx,json}': eslint --fix
'*.{js,jsx,ts,tsx,md,html,css,less,scss,json,yml,yaml,graphql}': prettier --write

fix: correct version format in package.json and update release type in release-please-config.json
  package.json
  release-please-config.json
Due: eslint --fix, prettier --write

docs: update README and CONTRIBUTING files for clarity and improved structure
  CONTRIBUTING.md
  README.md
Due: prettier --write

fix: standardize Dockerfile stage names to uppercase
  Dockerfile
  publish.Dockerfile
Due: none

feat: update pnpm workspace and vite configuration
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vite.config.ts
Due: eslint --fix, prettier --write

fix: update Go version to 1.22 and improve code formatting in form components
  .github/workflows/release-please.yml
  src/components/ConfigFormModal.tsx
  src/components/PlainTextFormModal.tsx
Due: eslint --fix, prettier --write

fix: improve code formatting and consistency in PlainTextFormModal component
  src/components/PlainTextFormModal.tsx
Due: eslint --fix, prettier --write

fix: disable caching for Go setup in release workflow
  .github/workflows/release-please.yml
Due: prettier --write

fix: update Dockerfile to streamline build process and remove unnecessary platforms
  .github/workflows/release-please.yml
  install/friendly-filenames.json
  publish.Dockerfile
Due: eslint --fix, prettier --write

fix: update husky scripts to use pnpm for consistency
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat: implement scrollable dialog components and update existing dialogs to use them
  src/components/ConfigFormModal.tsx
  src/components/ImportResourceFormModal.tsx
  src/components/PlainTextFormModal.tsx
  src/components/SimpleCard.tsx
  src/components/ui/index.ts
  src/components/ui/scrollable-dialog.tsx
Due: eslint --fix, prettier --write

feat: enhance ConfigureNodeFormModal with scrollable dialog components
  src/components/ConfigureNodeFormModal/index.tsx
  src/components/ui/accordion.tsx
  src/components/ui/input.tsx
  src/components/ui/number-input.tsx
Due: eslint --fix, prettier --write

feat: refactor modal components to improve type safety and props structure
  src/components/ConfigFormModal.tsx
  src/components/DraggableResourceCard.tsx
  src/components/GroupFormModal.tsx
  src/components/PlainTextFormModal.tsx
  src/components/QRCodeModal.tsx
  src/components/RenameFormModal.tsx
  src/components/SortableResourceBadge.tsx
  src/components/Table.tsx
  src/components/index.ts
  src/components/ui/badge.tsx
  src/components/ui/calendar.tsx
  src/components/ui/chart.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/field.tsx
  src/components/ui/input-group.tsx
  src/components/ui/input.tsx
  src/components/ui/radio-group.tsx
  src/components/ui/select.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/use-toast.ts
  src/constants/misc.ts
  src/pages/Experiment.tsx
  src/pages/Orchestrate/index.tsx
Due: eslint --fix, prettier --write

feat: improve code formatting and enhance drag overlay behavior
  src/pages/Experiment.tsx
  src/pages/Orchestrate/index.tsx
Due: eslint --fix, prettier --write

feat: update Header component to use APP_VERSION from environment variables
  src/components/Header.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

feat: refactor forms to use react-hook-form with zod validation
  src/components/ConfigFormModal.tsx
  src/components/ConfigureNodeFormModal/HTTPForm.tsx
  src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
  src/components/ConfigureNodeFormModal/JuicityForm.tsx
  src/components/ConfigureNodeFormModal/SSForm.tsx
  src/components/ConfigureNodeFormModal/SSRForm.tsx
  src/components/ConfigureNodeFormModal/Socks5Form.tsx
  src/components/ConfigureNodeFormModal/TrojanForm.tsx
  src/components/ConfigureNodeFormModal/TuicForm.tsx
  src/components/ConfigureNodeFormModal/V2rayForm.tsx
  src/components/ConfigureNodeFormModal/index.tsx
  src/components/EditNodeFormModal.tsx
  src/components/EditSubscriptionFormModal.tsx
  src/components/GroupFormModal.tsx
  src/components/ImportResourceFormModal.tsx
  src/components/PlainTextFormModal.tsx
  src/components/RenameFormModal.tsx
  src/components/ui/index.ts
  src/components/ui/input-list.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
Due: eslint --fix, prettier --write

feat: update Header component to handle avatar display and add APP_VERSION type definitions
  src/components/Header.tsx
  src/vite-env.d.ts
Due: eslint --fix, prettier --write

feat: enhance README with Docker deployment instructions and online demo section
  README.md
Due: prettier --write

feat(docs): update build, commit message guide, and getting started documentation
  CHANGELOGS.md
  docs/build.md
  docs/commit-msg-guide.md
  docs/getting-started.md
Due: prettier --write

feat(dependabot): add daily update schedules for GitHub Actions and Git submodules
  .github/dependabot.yml
Due: prettier --write

fix(i18n): refine endpoint setup messages for clarity and consistency
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/pages/Setup.tsx
Due: eslint --fix, prettier --write

feat(forms): extract setValue logic into useSetValue hook and enhance form validation
  src/components/ConfigFormModal.tsx
  src/components/ConfigureNodeFormModal/HTTPForm.tsx
  src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
  src/components/ConfigureNodeFormModal/JuicityForm.tsx
  src/components/ConfigureNodeFormModal/SSForm.tsx
  src/components/ConfigureNodeFormModal/SSRForm.tsx
  src/components/ConfigureNodeFormModal/Socks5Form.tsx
  src/components/ConfigureNodeFormModal/TrojanForm.tsx
  src/components/ConfigureNodeFormModal/TuicForm.tsx
  src/components/ConfigureNodeFormModal/V2rayForm.tsx
  src/components/EditNodeFormModal.tsx
  src/components/EditSubscriptionFormModal.tsx
  src/components/FormActions.tsx
  src/components/GroupFormModal.tsx
  src/components/Header.tsx
  src/components/ImportResourceFormModal.tsx
  src/components/PlainTextFormModal.tsx
  src/components/RenameFormModal.tsx
  src/hooks/useSetValue.ts
Due: eslint --fix, prettier --write

feat(Header): enhance header component with new Sheet elements and improve button styles
  .vscode/settings.json
  src/components/Header.tsx
Due: eslint --fix, prettier --write

feat(forms): implement useNodeForm hook for streamlined form handling
  src/components/ConfigureNodeFormModal/HTTPForm.tsx
  src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
  src/components/ConfigureNodeFormModal/JuicityForm.tsx
  src/components/ConfigureNodeFormModal/SSForm.tsx
  src/components/ConfigureNodeFormModal/SSRForm.tsx
  src/components/ConfigureNodeFormModal/Socks5Form.tsx
  src/components/ConfigureNodeFormModal/TrojanForm.tsx
  src/components/ConfigureNodeFormModal/TuicForm.tsx
  src/components/ConfigureNodeFormModal/V2rayForm.tsx
  src/components/FormActions.tsx
  src/hooks/index.ts
  src/hooks/useNodeForm.ts
  src/utils/index.ts
  src/utils/node-parser.ts
Due: eslint --fix, prettier --write

feat(EditNodeFormModal): refactor to support edit node configurations
  src/components/ConfigureNodeFormModal/HTTPForm.tsx
  src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
  src/components/ConfigureNodeFormModal/JuicityForm.tsx
  src/components/ConfigureNodeFormModal/SSForm.tsx
  src/components/ConfigureNodeFormModal/SSRForm.tsx
  src/components/ConfigureNodeFormModal/Socks5Form.tsx
  src/components/ConfigureNodeFormModal/TrojanForm.tsx
  src/components/ConfigureNodeFormModal/TuicForm.tsx
  src/components/ConfigureNodeFormModal/V2rayForm.tsx
  src/components/ConfigureNodeFormModal/types.ts
  src/components/EditNodeFormModal.tsx
  src/hooks/useNodeForm.ts
Due: eslint --fix, prettier --write

feat: add rename functionality to various components
  src/components/DroppableGroupCard.tsx
  src/components/SimpleCard.tsx
  src/pages/Orchestrate/Config.tsx
  src/pages/Orchestrate/DNS.tsx
  src/pages/Orchestrate/Group.tsx
  src/pages/Orchestrate/Routing.tsx
Due: eslint --fix, prettier --write

feat(styles): update color scheme for light and dark modes
  src/index.css
Due: prettier --write

fix(SimpleCard): adjust border styles and class names for improved layout
  src/components/SimpleCard.tsx
Due: eslint --fix, prettier --write

feat(theme): refactor color scheme handling to support theme modes
  src/App.tsx
  src/components/Header.tsx
  src/contexts/index.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/store/index.ts
Due: eslint --fix, prettier --write

style(README, Header): enhance button styles with rounded corners and update logo presentation
  README.md
  src/components/Header.tsx
Due: eslint --fix, prettier --write

chore(README): update logo image and remove unused preview file
  README.md
  docs/preview.webp
  public/logo-rounded.png
Due: prettier --write

feat(monaco): integrate Shiki for enhanced syntax highlighting and theme support
  package.json
  pnpm-lock.yaml
  src/components/PlainTextFormModal.tsx
  src/constants/editor.ts
  src/monaco.ts
  src/pages/Experiment.tsx
Due: eslint --fix, prettier --write
