Repository daeuniverse/daed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx,json}': eslint --fix
'*.{js,jsx,ts,tsx,md,html,css,less,scss,json,yml,yaml,graphql}': prettier --write

chore: update group pull request title pattern in release-please config
  release-please-config.json
Due: eslint --fix, prettier --write

fix(ci): use main branch for publish-packages to get updated workspace versions
  .github/workflows/release-please.yml
Due: prettier --write

chore: update screenshots [skip ci]
  docs/screenshots/pc/orchestrate.png
Due: none

refactor(ci): separate release PRs for each package
  .github/workflows/release-please.yml
  release-please-config.json
Due: eslint --fix, prettier --write

feat: enhance V2Ray URL parsing and configuration options
  .github/workflows/release-please.yml
  packages/dae-node-parser/src/parser.ts
  packages/dae-node-parser/src/types.ts
  packages/dae-node-parser/tests/parser.test.ts
  src/components/ConfigureNodeFormModal/V2rayForm.tsx
  src/components/ConfigureNodeFormModal/protocols/complex.ts
  src/constants/default.ts
  src/constants/schema.ts
Due: eslint --fix, prettier --write

chore: update screenshots for ${{ needs.release-please.outputs.tag_name }} [skip ci]
  .github/workflows/release-please.yml
Due: prettier --write

feat: add RoutingA language formatter and integrate with Monaco editor
  packages/dae-editor/src/formatter.ts
  packages/dae-editor/src/index.ts
  packages/dae-editor/src/monaco.ts
  src/monaco.ts
Due: eslint --fix, prettier --write

chore: update screenshots for v1.17.0 [skip ci]
  docs/screenshots/pc/orchestrate.png
Due: none

chore: update screenshot URLs to use raw GitHub content links
  .github/workflows/release-please.yml
Due: prettier --write

chore: update code structure and remove redundant changes
  packages/dae-vscode/.gitignore
  packages/dae-vscode/.npmrc
  packages/dae-vscode/.vscode/launch.json
  packages/dae-vscode/.vscode/tasks.json
  packages/dae-vscode/.vscodeignore
  packages/dae-vscode/LICENSE
  packages/dae-vscode/README.md
  packages/dae-vscode/images/icon.png
  packages/dae-vscode/language-configuration.json
  packages/dae-vscode/package.json
  packages/dae-vscode/snippets/dae.json
  packages/dae-vscode/src/completion.ts
  packages/dae-vscode/src/extension.ts
  packages/dae-vscode/src/formatter.ts
  packages/dae-vscode/syntaxes/dae.tmLanguage.json
  packages/dae-vscode/tsconfig.json
  packages/dae-vscode/tsdown.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: remove pnpm version specification in release workflow
  .github/workflows/release-please.yml
Due: prettier --write

fix(docs): update logo path in README.md
  README.md
Due: prettier --write

chore(deps): update dependencies to latest versions
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

build(deps): upgrade vite to version 8.0.0-beta.0 and update related configurations
  apps/web/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

feat(parser): add parser for dae language with AST and symbol information
  apps/web/vite.config.ts
  packages/dae-vscode/.npmrc
  packages/dae-vscode/package.json
  packages/dae-vscode/snippets/dae.json
  packages/dae-vscode/src/completion.ts
  packages/dae-vscode/src/definition.ts
  packages/dae-vscode/src/diagnostics.ts
  packages/dae-vscode/src/extension.ts
  packages/dae-vscode/src/formatter.ts
  packages/dae-vscode/src/hover.ts
  packages/dae-vscode/src/parser.ts
  packages/dae-vscode/src/references.ts
  packages/dae-vscode/src/rename.ts
  packages/dae-vscode/src/semanticTokens.ts
  packages/dae-vscode/syntaxes/dae.tmLanguage.json
  packages/dae-vscode/tsdown.config.ts
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

fix(release): update outputs for main package in release workflow
  .github/workflows/release-please.yml
Due: prettier --write

feat: add publish workflow for dae-editor and dae-node-parser packages
  .github/workflows/publish-packages.yml
  .github/workflows/release-please.yml
Due: prettier --write

chore: migrate DAE VS Code extension to use language server protocol
  .release-please-manifest.json
  .vscode/launch.json
  .vscode/tasks.json
  eslint.config.js
  packages/dae-editor/src/constants.ts
  packages/dae-lsp/.gitignore
  packages/dae-lsp/LICENSE
  packages/dae-lsp/README.md
  packages/dae-lsp/package.json
  packages/dae-lsp/src/core/completions.ts
  packages/dae-lsp/src/core/docs.ts
  packages/dae-lsp/src/core/formatter.ts
  packages/dae-lsp/src/core/mod.ts
  packages/dae-lsp/src/core/parser.ts
  packages/dae-lsp/src/mod.ts
  packages/dae-lsp/src/server.ts
  packages/dae-lsp/tsconfig.json
  packages/dae-lsp/tsdown.config.ts
  packages/dae-vscode/.vscode/launch.json
  packages/dae-vscode/.vscode/tasks.json
  packages/dae-vscode/package.json
  packages/dae-vscode/src/definition.ts
  packages/dae-vscode/src/diagnostics.ts
  packages/dae-vscode/src/extension.ts
  packages/dae-vscode/src/references.ts
  packages/dae-vscode/src/rename.ts
  packages/dae-vscode/src/semanticTokens.ts
  packages/dae-vscode/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  release-please-config.json
Due: eslint --fix, prettier --write

feat(dae-lsp): add browser LSP support and fix completions
  .github/workflows/publish-packages.yml
  apps/web/package.json
  apps/web/src/components/DaeEditor.tsx
  apps/web/src/components/PlainTextFormModal.tsx
  apps/web/src/components/index.ts
  apps/web/src/main.tsx
  apps/web/src/monaco.ts
  apps/web/src/pages/Orchestrate/DNS.tsx
  apps/web/src/pages/Orchestrate/Routing.tsx
  apps/web/src/suppress-monaco-errors.ts
  packages/dae-editor/package.json
  packages/dae-editor/src/constants.ts
  packages/dae-editor/src/index.ts
  packages/dae-editor/src/lsp-client.ts
  packages/dae-editor/src/monaco.ts
  packages/dae-editor/tsdown.config.ts
  packages/dae-lsp/package.json
  packages/dae-lsp/src/browser-server.ts
  packages/dae-lsp/src/core/completions.ts
  packages/dae-lsp/src/core/parser.ts
  packages/dae-lsp/src/server-core.ts
  packages/dae-lsp/src/server-node.ts
  packages/dae-lsp/src/server.ts
  packages/dae-lsp/tsdown.config.ts
  packages/dae-node-parser/package.json
  packages/dae-node-parser/tsdown.config.ts
  packages/dae-vscode/package.json
  packages/dae-vscode/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: eslint --fix, prettier --write

chore: update screenshots for v1.21.0 [skip ci]
  docs/screenshots/mobile/orchestrate.png
  docs/screenshots/mobile/setup.png
  docs/screenshots/pc/orchestrate.png
  docs/screenshots/pc/setup.png
Due: none

fix: remove rolldownOptions from build configuration
  apps/web/vite.config.ts
Due: eslint --fix, prettier --write

chore: update screenshots for v1.21.1 [skip ci]
  docs/screenshots/mobile/orchestrate.png
  docs/screenshots/pc/orchestrate.png
Due: none

feat: add mock mode build functionality to screenshot script
  docs/screenshots/mobile/orchestrate.png
  docs/screenshots/mobile/setup.png
  docs/screenshots/pc/orchestrate.png
  docs/screenshots/pc/setup.png
  scripts/screenshot.ts
Due: eslint --fix, prettier --write

chore: update pnpm workspace configuration and fix regex in formatter
  packages/dae-editor/src/formatter.ts
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

fix: disable telemetry and tracking during build process
  Makefile
  package.json
  turbo.json
Due: eslint --fix, prettier --write
