Repository daeuniverse/daed: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, eslint --fix, prettier --write

.lintstagedrc.yml:

'package.json': 'sort-package-json'
'*.{js,jsx,ts,tsx}': 'eslint --fix'
'*.{js,jsx,ts,tsx,md,html,css,less,scss,json,yml,yaml,graphql}': 'prettier --write'

ci(pr-build): add ready_for_review trigger (#175)
  .github/workflows/pr-build.yml
Due: prettier --write

docs: update CHANGELOGS.md
  CHANGELOGS.md
Due: prettier --write

docs: update CHANGELOGS.md (#177)
  CHANGELOGS.md
Due: prettier --write

ci(release): checkout codebase based on ref
  .github/workflows/release.yml
Due: prettier --write

ci(release): checkout codebase based on ref (#178)
  .github/workflows/release.yml
Due: prettier --write

ci(pr-build): ONLY keep arm64, amd64 as build targets
  .github/workflows/pr-build.yml
Due: prettier --write

patch: further limit build targets
  .github/workflows/pr-build.yml
Due: prettier --write

patch: fix build matric targets
  .github/workflows/pr-build.yml
Due: prettier --write

patch: fix matrix build targets
  .github/workflows/pr-build.yml
Due: prettier --write

patch(friendly-filenames.json): add entry for amd64
  install/friendly-filenames.json
Due: prettier --write

chore: update codeowners
  CODEOWNERS
Due: none

ci(pr-build): update trigger paths
  .github/workflows/pr-build.yml
Due: prettier --write

patch(pr-build): consider /wing/**
  .github/workflows/pr-build.yml
Due: prettier --write

ci(pr-build): add arm build targets
  .github/workflows/pr-build.yml
Due: prettier --write

chore: update codeowners (#182)
  CODEOWNERS
Due: none

ci(pr-build): ONLY keep arm64, amd64 as build targets (#180)
  .github/workflows/pr-build.yml
  install/friendly-filenames.json
Due: prettier --write

patch: add additional path matching
  .github/workflows/pr-build.yml
Due: prettier --write

fix: avoid to install husky when not in a git repo
  Makefile
Due: none

fix: avoid to install husky when not in a git repo (#185)
  Makefile
Due: none

patch: update paths
  .github/workflows/pr-build.yml
Due: prettier --write

patch(build): update trigger path
  .github/workflows/build.yml
Due: prettier --write

ci: update path to include all source code and build related files
  .github/workflows/build.yml
  .github/workflows/pr-build.yml
Due: prettier --write

ci(pr-build): update trigger paths (#183)
  .github/workflows/build.yml
  .github/workflows/pr-build.yml
Due: prettier --write

fix: reload icon not showing on small size screens
  .github/workflows/pr-build.yml
  src/App.tsx
  src/components/DraggableResourceBadge.tsx
  src/components/Header.tsx
  src/pages/Experiment.tsx
Due: eslint --fix, prettier --write

fix: rename modal not closing after changing rule names
  src/components/RenameFormModal.tsx
Due: eslint --fix, prettier --write

chore: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix: reload icon not showing on small size screens (#187)
  .github/workflows/pr-build.yml
  src/App.tsx
  src/components/DraggableResourceBadge.tsx
  src/components/Header.tsx
  src/pages/Experiment.tsx
Due: eslint --fix, prettier --write

fix: rename modal not closing after changing rule names (#188)
  package.json
  pnpm-lock.yaml
  src/components/RenameFormModal.tsx
Due: sort-package-json, eslint --fix, prettier --write

ci/fix(pr-build,build): fix submodule path trigger
  .github/workflows/pr-build.yml
Due: prettier --write

fix(build): fix submodule path trigger
  .github/workflows/build.yml
Due: prettier --write

ci/fix(pr-build,build): fix submodule path trigger (#190)
  .github/workflows/build.yml
  .github/workflows/pr-build.yml
Due: prettier --write

feat: add configure juicity modal
  src/components/ConfigureNodeFormModal/JuicityForm.tsx
  src/components/ConfigureNodeFormModal/index.tsx
  src/constants/default.ts
  src/constants/schema.ts
Due: eslint --fix, prettier --write

chore/feat: add checkout.sh
  checkout.sh
Due: none
