Repository daeuniverse/daed: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, eslint --fix, prettier --write

docs: update README.md
  README.md
Due: prettier --write

chore: add bash completion
  install/shell-completion/daed
Due: none

chore: give up compatibility with zsh
  install/shell-completion/daed.bash
Due: none

ci: update Go version to 1.21
  .github/workflows/build.yml
  .github/workflows/pick-build.yml
  .github/workflows/pr-build.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: prettier --write

ci: fix typo
  .github/workflows/build.yml
  .github/workflows/pr-build.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: prettier --write

ci: update Go version to 1.21 (#423)
  .github/workflows/build.yml
  .github/workflows/pick-build.yml
  .github/workflows/pr-build.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: prettier --write

ci:manual upgrade
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/dependabot_automerge.yml
  .github/workflows/pick-build.yml
  .github/workflows/pr-build.yml
  .github/workflows/prerelease.yml
  .github/workflows/publish-docker-image.yml
  .github/workflows/publish-gh-pages.yml
  .github/workflows/release.yml
  .github/workflows/sync-upstream.yml
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

revert workflow auto merge
  .github/workflows/dependabot_automerge.yml
  .github/workflows/sync-upstream.yml
Due: prettier --write

Path conditions:
  sort-package-json: any of: package.json
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,less,scss,json,yml,yaml,graphql}
