Repository daeuniverse/daed: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, eslint --fix, prettier --write

chore: add script
  script.sh
Due: none

build.yml: don't build useless arch mips package
  .github/workflows/build.yml
Due: prettier --write

build.yml: fix skip arch package mips builds
  .github/workflows/build.yml
Due: prettier --write

build.yml: fix skip arch package mips upload
  .github/workflows/build.yml
Due: prettier --write

build.yml: Fix typo
  .github/workflows/build.yml
Due: prettier --write

ci/fix(pr-build): skip check-run related actions based on condition
  .github/workflows/pr-build.yml
Due: prettier --write

fix: fix syntax
  .github/workflows/pr-build.yml
Due: prettier --write

fix: refine condition statement
  .github/workflows/pr-build.yml
Due: prettier --write

test: add dummy step to output github context objects
  .github/workflows/pr-build.yml
Due: prettier --write

test changes
  .github/workflows/pr-build.yml
Due: prettier --write

fix: fix broken syntax
  .github/workflows/pr-build.yml
Due: prettier --write

patch: test with proposed fix
  .github/workflows/pr-build.yml
Due: prettier --write

ci/fix(pr-build): skip check-run related actions based on condition (#167)
  .github/workflows/pr-build.yml
Due: prettier --write

chore: add dummy file for test
  hello
Due: none

chore: update packages
  .github/workflows/pr-build.yml
  .prettierrc
  CHANGELOGS.md
  README.md
  docs/preview.png
  index.html
  package.json
  pnpm-lock.yaml
  public/preview.png
Due: sort-package-json, prettier --write

chore: update packages (#169)
  .github/workflows/pr-build.yml
  .prettierrc
  CHANGELOGS.md
  README.md
  docs/preview.png
  index.html
  package.json
  pnpm-lock.yaml
  public/preview.png
Due: sort-package-json, prettier --write

Update .github/workflows/build.yml
  .github/workflows/build.yml
Due: prettier --write

Revert "Update .github/workflows/build.yml"
  .github/workflows/build.yml
Due: prettier --write

ci: sync to and
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: prettier --write

ci(build.yml): fix armv7 packages' architecture (#145)
  .github/workflows/build.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: prettier --write

docs(readme): add build-status badge
  README.md
Due: prettier --write

fix: time parsing is wrong
  src/utils/helper.ts
Due: eslint --fix, prettier --write

chore: add some test cases for deriveTime helper function
  package.json
  pnpm-lock.yaml
  src/utils/index.test.ts
  tsconfig.json
  vite.config.ts
Due: sort-package-json, eslint --fix, prettier --write

chore: add more unit test cases
  src/utils/helper.ts
  src/utils/index.test.ts
Due: eslint --fix, prettier --write

fix: time parsing is wrong (#171)
  package.json
  pnpm-lock.yaml
  src/utils/helper.ts
  src/utils/index.test.ts
  tsconfig.json
  vite.config.ts
Due: sort-package-json, eslint --fix, prettier --write

docs(readme): add build-status badge (#170)
  README.md
Due: prettier --write

chore: run unite tests before commiting
  .husky/pre-commit
  package.json
Due: sort-package-json, prettier --write

chore: run unite tests before commiting (#172)
  .husky/pre-commit
  package.json
Due: sort-package-json, prettier --write

ci(pr-build): add ready_for_review trigger
  .github/workflows/pr-build.yml
Due: prettier --write

Path conditions:
  sort-package-json: any of: package.json
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,less,scss,json,yml,yaml,graphql}
