Repository daeuniverse/daed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx,json}': eslint --fix
'*.{js,jsx,ts,tsx,md,html,css,less,scss,json,yml,yaml,graphql}': prettier --write

chore: update screenshots [skip ci]
  docs/screenshots/pc/orchestrate.png
Due: none

fix: correct zip command in release workflow to include directory path
  .github/workflows/release-please.yml
Due: prettier --write

chore: remove unused Mantine packages from dependencies
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: enable multi-selection for LAN/WAN interfaces (#601)
  src/components/ConfigFormModal.tsx
  src/components/ui/multi-select.tsx
Due: eslint --fix, prettier --write

chore: migrate to pnpm catalog for centralized dependency version management (#607)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

refactor: update GitHub Pages publishing workflow to depend on build-web job
  .github/workflows/release-please.yml
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/ProfileSwitcher.tsx
Due: eslint --fix, prettier --write

feat: add aria-labels for accessibility in UI components (#610)
  src/components/ui/input-list.tsx
  src/components/ui/multi-select.tsx
  src/components/ui/number-input.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
Due: eslint --fix, prettier --write

feat: add comprehensive keyboard shortcuts support with help modal (#614)
  src/components/Header.tsx
  src/components/KeyboardShortcutsModal.tsx
  src/components/index.ts
  src/hooks/index.ts
  src/hooks/useKeyboardShortcuts.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
Due: eslint --fix, prettier --write

chore: update screenshots title to include [skip ci]
  .github/workflows/release-please.yml
Due: prettier --write

feat: implement command palette with keyboard shortcuts support
  src/components/CommandPalette.tsx
  src/components/Header.tsx
  src/components/KeyboardShortcutsModal.tsx
  src/components/index.ts
  src/components/ui/command.tsx
  src/components/ui/kbd.tsx
  src/hooks/useKeyboardShortcuts.ts
Due: eslint --fix, prettier --write

chore: update badge styles in README for better visibility
  README.md
Due: prettier --write

feat: enhance GraphQL client and add new mutations for tagging and updating subscriptions
  src/App.tsx
  src/apis/mutation.ts
  src/apis/query.ts
  src/components/ConfigFormModal.tsx
  src/components/ConfigureNodeFormModal/V2rayForm.tsx
  src/components/DroppableGroupCard.tsx
  src/components/EditNodeFormModal.tsx
  src/components/Header.tsx
  src/components/ProfileSwitcher.tsx
  src/components/Section.tsx
  src/components/SimpleCard.tsx
  src/components/SortableNodeCard.tsx
  src/components/SortableSubscriptionCard.tsx
  src/components/ThemePicker.tsx
  src/components/UpdateSubscriptionAction.tsx
  src/components/index.ts
  src/components/ui/chart.tsx
  src/constants/default.ts
  src/constants/index.ts
  src/constants/misc.ts
  src/constants/schema.ts
  src/constants/themes.ts
  src/contexts/index.tsx
  src/hooks/useKeyboardShortcuts.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/mocks/client.ts
  src/pages/Orchestrate/Config.tsx
  src/pages/Orchestrate/DNS.tsx
  src/pages/Orchestrate/Group.tsx
  src/pages/Orchestrate/Node.tsx
  src/pages/Orchestrate/Routing.tsx
  src/pages/Orchestrate/Subscription.tsx
  src/schemas/gql/gql.ts
  src/schemas/gql/graphql.ts
  src/store/index.ts
  src/utils/node-parser.ts
Due: eslint --fix, prettier --write

feat: update Header and ThemePicker components with new user settings and dialog enhancements
  src/components/Header.tsx
  src/components/ThemePicker.tsx
Due: eslint --fix, prettier --write

feat: enhance Input component with wrapperClassName prop and update dialog components
  src/components/ImportResourceFormModal.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input.tsx
  src/components/ui/scrollable-dialog.tsx
Due: eslint --fix, prettier --write

chore: update screenshots [skip ci]
  docs/screenshots/mobile/orchestrate.png
  docs/screenshots/pc/orchestrate.png
Due: none

feat: add subscription cron update functionality and enhance related components
  src/apis/mutation.ts
  src/apis/query.ts
  src/components/EditSubscriptionFormModal.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/pages/Orchestrate/Subscription.tsx
  src/schemas/gql/gql.ts
  src/schemas/gql/graphql.ts
Due: eslint --fix, prettier --write

feat: add routingA language completion items and provider to Monaco editor
  src/constants/editor.ts
  src/monaco.ts
Due: eslint --fix, prettier --write

feat: split dae-editor and dae-node-parser into its own package
  .github/workflows/release-please.yml
  .release-please-manifest.json
  package.json
  packages/dae-editor/.npmrc
  packages/dae-editor/README.md
  packages/dae-editor/package.json
  packages/dae-editor/src/constants.ts
  packages/dae-editor/src/index.ts
  packages/dae-editor/src/monaco.ts
  packages/dae-editor/tsconfig.json
  packages/dae-editor/tsdown.config.ts
  packages/dae-node-parser/.npmrc
  packages/dae-node-parser/README.md
  packages/dae-node-parser/package.json
  packages/dae-node-parser/src/generator.ts
  packages/dae-node-parser/src/index.ts
  packages/dae-node-parser/src/parser.ts
  packages/dae-node-parser/src/types.ts
  packages/dae-node-parser/tests/parser.test.ts
  packages/dae-node-parser/tsconfig.json
  packages/dae-node-parser/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  release-please-config.json
  src/apis/query.ts
  src/components/ConfigureNodeFormModal/HTTPForm.tsx
  src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
  src/components/ConfigureNodeFormModal/JuicityForm.tsx
  src/components/ConfigureNodeFormModal/SSForm.tsx
  src/components/ConfigureNodeFormModal/SSRForm.tsx
  src/components/ConfigureNodeFormModal/Socks5Form.tsx
  src/components/ConfigureNodeFormModal/TrojanForm.tsx
  src/components/ConfigureNodeFormModal/TuicForm.tsx
  src/components/ConfigureNodeFormModal/V2rayForm.tsx
  src/components/EditNodeFormModal.tsx
  src/constants/editor.ts
  src/monaco.ts
  src/pages/Orchestrate/Routing.tsx
  src/utils/index.ts
  src/utils/node.ts
Due: eslint --fix, prettier --write

feat: add build step for workspace packages in release workflow
  .github/workflows/release-please.yml
Due: prettier --write

fix: add workflow_dispatch trigger and fix release_created condition
  .github/workflows/release-please.yml
Due: prettier --write

chore: update build scripts to include workspace packages
  .github/workflows/release-please.yml
  package.json
Due: eslint --fix, prettier --write

feat: refactor ConfigureNodeFormModal to support dynamic protocol forms
  src/components/ConfigureNodeFormModal/HTTPForm.tsx
  src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
  src/components/ConfigureNodeFormModal/JuicityForm.tsx
  src/components/ConfigureNodeFormModal/SSForm.tsx
  src/components/ConfigureNodeFormModal/SSRForm.tsx
  src/components/ConfigureNodeFormModal/Socks5Form.tsx
  src/components/ConfigureNodeFormModal/TrojanForm.tsx
  src/components/ConfigureNodeFormModal/TuicForm.tsx
  src/components/ConfigureNodeFormModal/V2rayForm.tsx
  src/components/ConfigureNodeFormModal/index.tsx
  src/components/ConfigureNodeFormModal/protocols/GenericNodeForm.tsx
  src/components/ConfigureNodeFormModal/protocols/complex.ts
  src/components/ConfigureNodeFormModal/protocols/index.ts
  src/components/ConfigureNodeFormModal/protocols/registry.ts
  src/components/ConfigureNodeFormModal/protocols/simple.ts
  src/components/ConfigureNodeFormModal/protocols/types.ts
  src/components/FormActions.tsx
  src/constants/schema.ts
  src/hooks/useNodeForm.ts
  src/hooks/useSetValue.ts
  src/mocks/data.ts
Due: eslint --fix, prettier --write

chore: sync all package versions to 1.13.0 for release-please
  .release-please-manifest.json
  package.json
  packages/dae-editor/package.json
  packages/dae-node-parser/package.json
Due: eslint --fix, prettier --write

chore: sync all package versions to 1.13.1
  .release-please-manifest.json
  package.json
  packages/dae-editor/package.json
  packages/dae-node-parser/package.json
Due: eslint --fix, prettier --write
