Repository daeuniverse/daed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx,json}': eslint --fix
'*.{js,jsx,ts,tsx,md,html,css,less,scss,json,yml,yaml,graphql}': prettier --write

feat: enhance draggable components with grip handles
  package.json
  patches/monaco-themes.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/DraggableResourceBadge.tsx
  src/components/DraggableResourceCard.tsx
  src/components/SortableGroupContent.tsx
  src/components/SortableResourceBadge.tsx
  src/components/index.ts
  src/constants/editor.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/pages/Experiment.tsx
  src/pages/Orchestrate/Group.tsx
  src/pages/Orchestrate/Node.tsx
  src/pages/Orchestrate/Subscription.tsx
  src/pages/Orchestrate/index.tsx
Due: eslint --fix, prettier --write

feat: add sortable components for nodes and subscriptions
  src/components/PlainTextFormModal.tsx
  src/components/SortableGroupContent.tsx
  src/components/SortableNodeCard.tsx
  src/components/SortableSubscriptionCard.tsx
  src/components/index.ts
  src/pages/MainLayout.tsx
  src/pages/Orchestrate/DNS.tsx
  src/pages/Orchestrate/Node.tsx
  src/pages/Orchestrate/Routing.tsx
  src/pages/Orchestrate/Subscription.tsx
  src/pages/Orchestrate/index.tsx
Due: eslint --fix, prettier --write

chore(release-please): update Docker setup for container image publishing
  .github/workflows/release-please.yml
Due: prettier --write

refactor: replace toast implementation with Sonner and remove deprecated components
  src/App.tsx
  src/components/ui/index.ts
  src/components/ui/sonner.tsx
  src/components/ui/toast.tsx
  src/components/ui/toaster.tsx
  src/components/ui/use-toast.ts
  src/contexts/index.tsx
  src/pages/Setup.tsx
Due: eslint --fix, prettier --write

fix(i18n): update labels for sensitive content visibility in English and Chinese locales
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/pages/Orchestrate/Node.tsx
  src/pages/Orchestrate/Subscription.tsx
Due: eslint --fix, prettier --write

refactor: implement delayed form reset on modal close for improved UX
  src/components/ConfigFormModal.tsx
  src/components/EditSubscriptionFormModal.tsx
  src/components/ExpandedTableRow.tsx
  src/components/GroupFormModal.tsx
  src/components/ImportResourceFormModal.tsx
  src/components/PlainTextFormModal.tsx
  src/components/RenameFormModal.tsx
Due: eslint --fix, prettier --write

refactor(QRCodeModal): improve layout and styling for link display and copy button
  src/components/QRCodeModal.tsx
Due: eslint --fix, prettier --write

refactor(graphql): enhance type definitions and add detailed comments for clarity
  src/schemas/gql/fragment-masking.ts
  src/schemas/gql/gql.ts
  src/schemas/gql/graphql.ts
Due: eslint --fix, prettier --write

refactor: integrate persistent store for sort orders and optimize state management
  src/components/SortableGroupContent.tsx
  src/pages/Orchestrate/index.tsx
  src/store/index.ts
Due: eslint --fix, prettier --write

feat: enhance form structure and integrate actions portal for improved footer management
  src/components/ConfigureNodeFormModal/HTTPForm.tsx
  src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
  src/components/ConfigureNodeFormModal/JuicityForm.tsx
  src/components/ConfigureNodeFormModal/SSForm.tsx
  src/components/ConfigureNodeFormModal/SSRForm.tsx
  src/components/ConfigureNodeFormModal/Socks5Form.tsx
  src/components/ConfigureNodeFormModal/TrojanForm.tsx
  src/components/ConfigureNodeFormModal/TuicForm.tsx
  src/components/ConfigureNodeFormModal/V2rayForm.tsx
  src/components/ConfigureNodeFormModal/index.tsx
  src/components/ConfigureNodeFormModal/types.ts
  src/components/EditNodeFormModal.tsx
  src/components/ui/scrollable-dialog.tsx
Due: eslint --fix, prettier --write

feat: make children prop optional and conditionally render button for details modal
  src/components/SimpleCard.tsx
  src/pages/Orchestrate/DNS.tsx
  src/pages/Orchestrate/Routing.tsx
Due: eslint --fix, prettier --write

feat: implement drag-and-drop functionality for input list items
  src/components/ui/input-list.tsx
Due: eslint --fix, prettier --write

feat: responsive design in resource and card components
  src/components/DraggableResourceBadge.tsx
  src/components/DraggableResourceCard.tsx
  src/components/SortableNodeCard.tsx
  src/components/SortableResourceBadge.tsx
  src/components/SortableSubscriptionCard.tsx
Due: eslint --fix, prettier --write

feat: add ConfigDetailView component for detailed configuration display
  src/components/ConfigDetailView.tsx
  src/components/index.ts
  src/pages/Orchestrate/Config.tsx
Due: eslint --fix, prettier --write

feat: add mock mode support and update screenshot generation process
  .github/workflows/release-please.yml
  README.md
  docs/screenshots/mobile/.gitkeep
  docs/screenshots/mobile/orchestrate.png
  docs/screenshots/mobile/setup.png
  docs/screenshots/pc/.gitkeep
  docs/screenshots/pc/orchestrate.png
  docs/screenshots/pc/setup.png
  package.json
  pnpm-lock.yaml
  release-please-config.json
  scripts/screenshot.ts
  src/Router.tsx
  src/components/Header.tsx
  src/components/Section.tsx
  src/components/SortableGroupContent.tsx
  src/contexts/index.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/initialize.ts
  src/mocks/client.ts
  src/mocks/data.ts
  src/mocks/index.ts
  src/pages/Experiment.tsx
  src/pages/MainLayout.tsx
  src/pages/Orchestrate/Group.tsx
  src/pages/Orchestrate/Routing.tsx
  src/pages/Orchestrate/Subscription.tsx
  src/pages/Orchestrate/index.tsx
  src/pages/Setup.tsx
  src/pages/index.ts
Due: eslint --fix, prettier --write

chore: update release-please configuration to maintain node release type
  release-please-config.json
Due: eslint --fix, prettier --write

chore: update screenshot generation process to create pull requests instead of direct commits
  .github/workflows/release-please.yml
Due: prettier --write

feat: enhance group sorting functionality
  src/components/SortableGroupContent.tsx
  src/pages/Orchestrate/Node.tsx
  src/pages/Orchestrate/index.tsx
Due: eslint --fix, prettier --write

chore: update screenshots
  docs/screenshots/mobile/orchestrate.png
  docs/screenshots/mobile/setup.png
  docs/screenshots/pc/orchestrate.png
  docs/screenshots/pc/setup.png
Due: none

chore: update auto-generated screenshot message to skip CI
  .github/workflows/release-please.yml
Due: prettier --write

feat: add ProfileSwitcher component for managing user profiles and integrate it into the Header
  src/components/Header.tsx
  src/components/ProfileSwitcher.tsx
  src/components/index.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/store/index.ts
Due: eslint --fix, prettier --write

chore: update screenshots
  docs/screenshots/pc/orchestrate.png
Due: none

chore: update commit message for auto-generated screenshots to include [skip ci]
  .github/workflows/release-please.yml
Due: prettier --write

feat: change workflow runners from ubuntu to macos
  .github/workflows/release-please.yml
Due: prettier --write

chore: update screenshots [skip ci]
  docs/screenshots/pc/orchestrate.png
Due: none

feat: improve file upload process in release workflow
  .github/workflows/release-please.yml
Due: prettier --write

feat: enhance release workflow with parallel processing
  .github/workflows/release-please.yml
Due: prettier --write
