Repository daeuniverse/daed: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, eslint --fix, prettier --write

.lintstagedrc.yml:

'package.json': 'sort-package-json'
'*.{js,jsx,ts,tsx}': 'eslint --fix'
'*.{js,jsx,ts,tsx,md,html,css,less,scss,json,yml,yaml,graphql}': 'prettier --write'

fix
  checkout.sh
Due: none

fix: initialValues of juicify form should be referencing DEFAULT_JUICITY_FORM_VALUES
  src/components/ConfigureNodeFormModal/JuicityForm.tsx
Due: eslint --fix, prettier --write

feat: add configure juicity modal (#191)
  src/components/ConfigureNodeFormModal/JuicityForm.tsx
  src/components/ConfigureNodeFormModal/index.tsx
  src/constants/default.ts
  src/constants/schema.ts
Due: eslint --fix, prettier --write

fix: execute bit (x) is missing in permissions
  checkout.sh
Due: none

Update checkout.sh
  checkout.sh
Due: none

fix: typo
  checkout.sh
Due: none

refactor: relocate /checkout.sh -> /hack/checkout.sh
  hack/checkout.sh
Due: none

chore/feat: add checkout.sh (#192)
  hack/checkout.sh
Due: none

ci(generate-changelogs): fix dry_run input description
  .github/workflows/generate-changelogs.yml
Due: prettier --write

ci(generate-changelogs): fix dry_run input description (#193)
  .github/workflows/generate-changelogs.yml
Due: prettier --write

chore: add release-v0.3.0 entry to changelogs
  CHANGELOGS.md
Due: prettier --write

ci: generate changelogs for release-v0.3.0
  CHANGELOGS.md
Due: prettier --write

style: apply formatting
  CHANGELOGS.md
  pnpm-lock.yaml
Due: prettier --write

style: apply formatting
  CHANGELOGS.md
Due: prettier --write

ci: generate changelogs for release-v0.3.1
  CHANGELOGS.md
Due: prettier --write

feat: set color scheme based on system preference
  src/App.tsx
Due: eslint --fix, prettier --write

chore(pr_template): fix typo
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore(pr_template): fix typo (#206)
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

feat: set color scheme based on system preference (#205)
  src/App.tsx
Due: eslint --fix, prettier --write

feat: disable rollbackError, fixes #207
  src/apis/mutation.ts
Due: eslint --fix, prettier --write

feat: disable rollbackError, fixes #207 (#208)
  src/apis/mutation.ts
Due: eslint --fix, prettier --write

ci: generate changelogs for release-v0.3.2
  CHANGELOGS.md
Due: prettier --write

fix: copy to clipboard not working when clipboard permissions not permitted
  package.json
  pnpm-lock.yaml
  src/components/QRCodeModal.tsx
Due: sort-package-json, eslint --fix, prettier --write

fix: copy to clipboard not working when clipboard permissions not permitted (#217)
  package.json
  pnpm-lock.yaml
  src/components/QRCodeModal.tsx
Due: sort-package-json, eslint --fix, prettier --write
