Repository daeuniverse/daed: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, eslint --fix, prettier --write

fix(v2ray): vmess websocket path emty
  src/components/ConfigureNodeFormModal/V2rayForm.tsx
Due: eslint --fix, prettier --write

fix(v2ray): vmess websocket path emty (#521)
  src/components/ConfigureNodeFormModal/V2rayForm.tsx
Due: eslint --fix, prettier --write

docs: update archlinuxcn package name & add AVX2 package to AUR
  docs/getting-started.md
Due: prettier --write

docs: update archlinuxcn package name & add AVX2 package to AUR (#523)
  docs/getting-started.md
Due: prettier --write

feat(config): add fallbackResolver form field
  src/apis/query.ts
  src/components/ConfigFormModal.tsx
  src/constants/default.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/schemas/gql/gql.ts
  src/schemas/gql/graphql.ts
Due: eslint --fix, prettier --write

feat(config): add fallbackResolver form field (#530)
  src/apis/query.ts
  src/components/ConfigFormModal.tsx
  src/constants/default.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/schemas/gql/gql.ts
  src/schemas/gql/graphql.ts
Due: eslint --fix, prettier --write

Update .release-please-manifest.json
  .release-please-manifest.json
Due: prettier --write

Update release-please-config.json
  release-please-config.json
Due: prettier --write

feat: migrate to release-please for automated releases (#546)
  .github/workflows/generate-changelogs.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Due: prettier --write

chore: remove non-release workflows (#549)
  .github/workflows/build.yml
  .github/workflows/pick-build.yml
  .github/workflows/pr-build.yml
  .github/workflows/sync-upstream.yml
Due: prettier --write

Delete .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore: remove deprecated GitHub Actions workflows for Docker image and GitHub Pages publishing
  .github/workflows/publish-docker-image.yml
  .github/workflows/publish-gh-pages.yml
  .github/workflows/release-please.yml
Due: prettier --write

feat(node): support edit node
  src/apis/mutation.ts
  src/components/EditNodeFormModal.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/pages/Orchestrate/Node.tsx
  src/schemas/gql/gql.ts
  src/schemas/gql/graphql.ts
Due: eslint --fix, prettier --write

feat(node): support edit node (#540)
  src/apis/mutation.ts
  src/components/EditNodeFormModal.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/pages/Orchestrate/Node.tsx
  src/schemas/gql/gql.ts
  src/schemas/gql/graphql.ts
Due: eslint --fix, prettier --write

feat(password): support change password https://github.com/daeuniverse/daed/issues/211
  src/apis/mutation.ts
  src/components/Header.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
Due: eslint --fix, prettier --write

feat(password): support change password (#538)
  src/apis/mutation.ts
  src/components/Header.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
Due: eslint --fix, prettier --write

feat(subscription): support edit subscription
  src/components/EditSubscriptionFormModal.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/pages/Orchestrate/Subscription.tsx
Due: eslint --fix, prettier --write

feat(subscription): fix input is disable when edit
  src/components/EditSubscriptionFormModal.tsx
Due: eslint --fix, prettier --write

feat(subscription): support edit subscription (#539)
  src/components/EditSubscriptionFormModal.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/pages/Orchestrate/Subscription.tsx
Due: eslint --fix, prettier --write

feat(node): refactor EditNodeFormModal to use Dialog component and improve form handling
  src/components/EditNodeFormModal.tsx
  src/components/EditSubscriptionFormModal.tsx
Due: eslint --fix, prettier --write

feat: enhance component functionality and improve code structure
  .lintstagedrc.yml
  .vscode/settings.json
  eslint.config.js
  src/components/ConfigureNodeFormModal/index.tsx
  src/components/Header.tsx
  src/components/ImportResourceFormModal.tsx
  src/components/QRCodeModal.tsx
  src/components/SimpleCard.tsx
  src/components/Table.tsx
  src/components/ui/carousel.tsx
  src/components/ui/chart.tsx
  src/components/ui/form.tsx
  src/components/ui/select.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/toggle-group.tsx
  src/contexts/index.tsx
  src/hooks/use-mobile.ts
  src/monaco.ts
Due: eslint --fix, prettier --write

fix: update lint-staged configuration and improve component layout
  .lintstagedrc.yml
  package.json
  src/components/ConfigureNodeFormModal/index.tsx
Due: sort-package-json, eslint --fix, prettier --write

fix: update publish-gh-pages job to trigger only on new releases
  .github/workflows/release-please.yml
Due: prettier --write

Path conditions:
  sort-package-json: any of: package.json
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,less,scss,json,yml,yaml,graphql}
